<nb-card>
    <nb-card-header>
      Create your own trip and find guide!
    </nb-card-header>
</nb-card>
<div class="row show-grid">
    <div class="col-12 col-sm-6 col-md-6">
        <nb-card>
            <nb-card-header>
                Map with places
            </nb-card-header>
            <nb-card-body>
                <mapbf (onSelect)="addPlace($event)" [selectable]="true" [selectedIds]="ids"></mapbf>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-6 col-md-6">
        <nb-card>
            <nb-card-header>
                Selected places
            </nb-card-header>
            <nb-card-body>
                <div class="input-group place">
                    <input type="text" [(value)] ="tripName" placeholder="Trip name" class="form-control"/>
                </div>
                <div class="input-group place">
                    <textarea rows="5" [(value)]="tripDescription"placeholder="Add some comments" class="form-control"></textarea>
                </div>
                <div class="row show-grid place" *ngFor="let place of selectedPlaces" >
                    <div class="col-5">
                        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=150&photoreference={{place.photoRef}}&key=AIzaSyCHeNSWsQIpvVorhXeQklr2Xh0O9XIm4Aw">                            
                    </div>
                    <div class="col-7">
                        <p>{{place.name}}</p>
                        <button class="btn btn-danger btn-sm"(click)="remove(place)">Remove</button>
                    </div>
                </div>
                <div *ngIf="selectedPlaces.length > 0">
                        <button class="btn btn-primary register">Register your trip!</button>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>