<nb-card>
    <nb-card-header>
        Available trips
    </nb-card-header>
    <nb-card-body>
        <div class="row show-grid row"  *ngFor="let trip of trips">
            <div class="col-3 col-md-3">
                <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=300&photoreference={{trip.place.photoref}}&key=AIzaSyCHeNSWsQIpvVorhXeQklr2Xh0O9XIm4Aw">                            
            </div>
            <div class="col-3 col-md-3">
                <h2>{{trip.tripName}}</h2>
                <p>{{trip.tripDescription}}</p>
            </div>
            <div class="col-2 col-md-2">
                <button (click)="redirect(trip.tripId)" class="btn btn-primary info">Details</button>
            </div>
            <div class="col-2 col-md-2">
                <button (click)="author(trip.author.name)" class="btn btn-primary info">{{trip.author.name}}</button>
            </div>
            <div class="col-2 col-md-2" *ngIf="!trip.isSelected">
                <button (click)="removeDeclaration(trip.tripId)" class="btn btn-warning info">Remove declaration</button>
            </div>
            <div class="col-2 col-md-2" *ngIf="trip.isSelected">
                You are the choosen one!
            </div>
        </div>
    </nb-card-body>
</nb-card>